@model IEnumerable<Solution.Presentation.Models.UserVm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutAdmin.cshtml";
}

<h2>Users List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<!-- table3 -->
<div class="outer-w3-agile mt-3">
    <h4 class="tittle-w3-agileits mb-4">Users List</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th scope="col">ImageUrl</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => item.UserId)</th>
                    <td>
                        @{ string path = "~/Content/Upload/" + item.ImageUrl;}
                        <img src="@Url.Content(path)" width="50" height="50" />
                    </td>
                    <td> @Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td> @Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                        @Html.ActionLink("Detailstest", "Details", new { id = item.UserId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!--// table3 -->
