@model Solution.Presentation.Models.ForumIndexModel

<h1>Forums</h1>

<table class="table table-hover" id="forumIndexTable">
    <tbody>
        @foreach (var forum in Model.ForumList)
        {
        <tr>
            <td>
                @forum.ImageUrl
            </td>
            <td>
                <a href="" asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.ForumId">
                    @forum.Title
                </a>
            </td>
            <td>
                @forum.Descripition
            </td>
            <td>
                @forum.Created
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = forum.ForumId }) |
                @Html.ActionLink("Details", "Details", new { id = forum.ForumId }) |
                @Html.ActionLink("Delete", "Delete", new { id = forum.ForumId })
            </td>
        </tr>
        }
    </tbody>
</table>
