@model Solution.Presentation.Models.ForumIndexModel


<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Forum</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active">Wishlist</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="wishlist-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Images</th>
                                <th>Forum Name</th>
                                <th>Description</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var forum in Model.ForumList)
                            {
                                <tr>
                                    <td class="thumbnail-img">
                                        @{ string path = "~/Content/Upload/" + forum.ImageUrl;}
                                        <img src="@Url.Content(path)" width="60" height="60" />
                                    </td>
                                    <td class="name-pr">
                                        <a href="@Url.Action("Topic", "Forum", new { ForumId = @forum.ForumId })">
                                            @forum.Title
                                        </a>
                                    </td>
                                    <td class="desc-pr">
                                        <p>
                                            @forum.Descripition
                                        </p>
                                    </td>
                                    <td class="quantity-box">@forum.Created</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>