@model Solution.Presentation.Models.ForumTopicModel


@{
    ViewBag.Title = "Topic";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h1>Welcome to the @Model.Forum.Title Forum!</h1>

<span id="headingBtn">
    <a href="@Url.Action("Create", "Post", 
            new { id =@Model.Forum.ForumId }) class="btn btn-newPost"">
    Create Post</a>
</span>

@if (Model.Posts.Any())
{
    <table class="table table-bordered table-hover">
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Index", "Post", new { id = post.PostId })">
                            @post.Title
                        </a>
<td>
                        @post.Content
                    </td>
                    <td>
                        @post.Created
                    </td>
                    <td>
                        @post.RepliesCount
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="noPosts">
        <h3>
            It looks like there are no @Model.Forum.Title posts yet. <br />
            Why not
            <a href="@Url.Action("Create", "Post", new { id = @Model.Forum.ForumId })">
                create
            </a>
            one?
        </h3>
    </div>
}



