@model Solution.Presentation.Models.ForumTopicModel


@{
    ViewBag.Title = "Topic";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h1>Welcome to the @Model.Forum.Title Forum!</h1>



@if (Model.Posts.Any())
{
    <span id="headingBtn">
        <a href="@Url.Action("Create", "Post", new { ForumId = @Model.Forum.ForumId })">
            Create Post
        </a>
    </span>
    <table class="table table-bordered table-hover">
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Index", "Post", new { ForumId = post.PostId })">
                            @post.Title
                        </a>
                    <td>
                        @post.Content
                    </td>
                    <td>
                        @post.Created
                    </td>
                    <td>
                        @post.RepliesCount
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="noPosts">
        <h3>
            It looks like there are no @Model.Forum.Title posts yet. <br />
            Why not
            <a href="@Url.Action("Create", "Post", new { ForumId = @Model.Forum.ForumId })">
                create
            </a>
            one?
        </h3>
    </div>
}



